:root {
  /* color */
  --color-yellow: yellow;
  --color-green: green;
  --color-red: red;

  /* size */
  --text-size: 14px;

  /* margin */
  --margin: 5px;

  /* but size */
  --but-size-width: 43px;
  --but-size-heigth: 40px;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 10em;
}

.header {
  display: inline-block;
  width: 200px;
  height: 280px;
  border: 1px solid black;
  text-align: center;
}

.red {
  background-color: var(--color-red);
  width: 140px;
  height: var(--but-size-heigth);
  cursor: pointer;
}

.resurt {
  width: 180px;
  height: 40px;
  text-align: end;
}

.green,
.num,
.yellow {
  width: var(--but-size-width);
  height: var(--but-size-heigth);
  cursor: pointer;
}

.resurt_ {
  width: 92px;
}

.yellow {
  background-color: var(--color-yellow);
}

.green {
  background-color: var(--color-green);
  cursor: pointer;
}

.btn {
  margin-top: 5px;
}
